.title {
    color: gray;
    font-size: large;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.GraphTitle {
    color: black;
    font-size: x-large;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.GraphSubtitle{
    color: grey;
    font-size: medium;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.CardTitle {
    color: grey;
    font-size: large;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;    
    padding-top: 15%;

}

.CardSubtitle {
    color: black;
    font-size: small;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.CardImg {
    margin: auto;
    margin-bottom: 10%;
    width: 50%;
}

.bluecards {
    background-color: #bed7d4 ;
}

ion-card {
    text-decoration: none;

}